#include "windows.h"

A_CURSOR CURSOR PRELOAD arrow.cur
A_ICON ICON icon.ico
A_BCKGRND BITMAP ABSOLUTE_BACKGROUND_BMP.bmp
A_EXIT BITMAP ABSOLUTE_EXIT_BMP.bmp
A_MIN BITMAP ABSOLUTE_MIN_BMP.bmp
A_SET BITMAP ABSOLUTE_SET_BMP.bmp